@media screen and (min-width: 1200px) {
  .container {
    width: 1198px;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 130px;
  }
  .nav-list {
    gap: 30px;
  }

  .contacts-wrap {
    display: flex;
    flex-direction: row;
    gap: 43px;
    min-width: 160px;
    margin-left: auto;
    align-items: center;
  }

  .hero-wrap {
    padding-bottom: 210px;
  }

  .hero-wrap {
    background-image: linear-gradient(
        rgba(25, 28, 23, 0.2),
        rgba(25, 28, 23, 0.2)
      ),
      url(../img/desktop/hero-bg.jpg);
    padding: 270px 100px 210px;
  }

  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }
  /* ----------ABOUT-------------- */
  .about-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .about-container {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  .about-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .about-wrap {
    width: 470px;
  }

  .about-suptitle {
    font-size: 11px;
    line-height: 15px;
  }

  .about-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
  }

  .about-subtitle {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
  }

  .about-desc {
    margin-bottom: 22px;
  }

  .about-pic {
    width: 270px;
    height: 445px;
  }
  /* -----------PRICES--------------- */

  .prices-section {
    max-width: 1600px;
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url(../img/desktop/prices-bg.png);
  }

  .prices-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 0;
    background-image: none;
  }

  .prices-list {
    width: 570px;
    padding: 30px;
  }

  .prices-list:first-child {
    background-image: linear-gradient(
      rgba(23, 26, 36, 1),
      rgba(23, 26, 36, 0.2)
    );
  }

  .prices-list:last-child {
    background-image: linear-gradient(rgba(9, 11, 19, 1), rgba(9, 11, 19, 0.2));
  }

  /* --------------BENEFITS-------------- */
  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-container {
    flex-direction: row;
    gap: 130px;
    justify-content: center;
  }

  .benefits-list {
    width: 370px;
    align-self: auto;
  }

  .benefits-item {
    width: 170px;
    padding: 20px 24px;
  }

  .reasons-wrap {
    margin-top: 9px;
    width: 500px;
    order: 1;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(25, 28, 23, 0.2),
          rgba(25, 28, 23, 0.2)
        ),
        url(../img/desktop/hero-bg@2x.jpg);
    }

    .prices-section {
      background-image: url(../img/desktop/prices-bg@2x.png);
    }
  }
}
