html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
}

body {
  background-color: violet;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

img {
  display: flex;
  max-width: 100%;
}

.btn {
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 0;
  border: 0;
  background-color: transparent;
  line-height: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
}

.header{
    position: relative;

    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



@media screen and (min-width: 480px) {
  .container {
    width: 448px;
    margin: 0 auto;
  }
}