:root {
  --white-text-color: #ffffff;
  --black-text-color: #303030;
  --grey-text-color: #9da4bd;
  --accent-color: #ff6c00;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }

  .header {
    padding-top: 32px;
    padding-left: 0;
    padding-right: 0;
    align-items: start;
  }

  .open-menu {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 58px;
  }

  .nav-list-item {
    color: var(--white-text-color);
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
  }

  .contact-link {
    color: var(--white-text-color);
    font-size: 12px;
    line-height: 16px;
  }

  .mobile-menu {
    display: none;
  }

  /* ----------HERO---------------- */

  .hero-wrap {
    background-image: linear-gradient(
        rgba(25, 28, 23, 0.2),
        rgba(25, 28, 23, 0.2)
      ),
      url(../img/tablet/hero-bg.jpg);
    padding: 270px 100px 235px;
  }

  .hero-soc {
    width: 100px;
    display: flex;
    align-items: flex-end;
    padding-left: 27px;
    padding-bottom: 40px;
  }

  .hero-list {
    display: flex;
    align-items: center;
    gap: 40px;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
  }

  .hero-list::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
  }

  .hero-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: #303030;
    transition: color 200ms linear;
  }

  .hero-link:hover,
  .hero-link:focus {
    color: #ff6c00;
  }

  .hero-subtitle {
    font-size: 18px;
    line-height: 1.67;
    max-width: 360px;
  }

  /* ------------ABOUT--------------- */

  .about-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about-container {
    display: flex;
    gap: 30px;
    justify-content: center;
  }

  .about-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .about-wrap {
    width: 330px;
  }

  .about-suptitle {
    font-size: 11px;
    line-height: 15px;
  }

  .about-title {
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.05em;
  }

  .about-subtitle {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
  }

  .about-desc {
    margin-bottom: 57px;
  }

  .about-pic {
    width: 330px;
    height: 235px;
  }

  /* -----------PRICES--------------- */

  .prices-section {
    max-width: 768px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/tablet/prices-bg.png);
  }

  .prices-title {
    font-size: 42px;
  }

  .prices-item {
    gap: 12px;
  }

  .prices-item-text {
    font-size: 18px;
    line-height: 1.66;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          rgba(25, 28, 23, 0.2),
          rgba(25, 28, 23, 0.2)
        ),
        url(../img/tablet/hero-bg@2x.jpg);
    }

    .prices-section {
      background-image: url(../img/tablet/prices-bg@2x.png);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 160px;
    margin-left: auto;
    align-items: center;
    align-self: end;
  }

  .contact {
    order: 1;
  }
}
